# dependencies
node_modules/
*.pnp
*.pnp.js

# testing
coverage/

# backend
# backend/

# next.js
.next/

# build
build/
out/
dist/
opt/

# misc
*.DS_Store
*.pem

# logs
*.log

# local env files
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# vercel
*.vercel