.socialItem {
  margin: 0 .75rem;
}

.socialItem:first-of-type {
  margin-left: 0 !important;
}

.socialItem:last-of-type {
  margin-right: 0 !important;
}

.socialItem span svg:hover {
  fill: inherit;
}

.socialItem span svg {
  max-width: 30px;
  max-height: 30px;

  fill: var(--text);

  transition: fill .25s, transform .25s;
}

.socialItem span svg:hover {
  transform: translateY(-5px);
}