.socialItem {
  margin: 0 .75rem;
}

.socialItem:first-of-type {
  margin-left: 0 !important;
}

.socialItem:last-of-type {
  margin-right: 0 !important;
}


.socialItem svg {
  max-width: 30px;
  max-height: 30px;

  transition: color .25s, transform .25s;
}

.socialItem svg:hover {
  transform: translateY(-5px);
}