.navbarItem {
  margin: 0 2rem;
}

.navbarItem:first-of-type {
  margin-left: 0 !important;
}

.navbarItem:last-of-type {
  margin-right: 0 !important;
}

.navbarItem a {
  color: var(--text);

  font-weight: 500;
  font-size: 1.25rem;

  transition: color .25s;
}

.navbarItem a:hover {
  color: var(--accent);
}

@media (max-width: 600px) {
  .navbarItem {
    margin: 0 .5rem;
  }

  .navbarItem a {
    font-size: 1rem;
  }
}