.rectengleSvgButton {
  color: var(--text);

  padding: 1rem;
  margin: .5rem;

  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.rectengleSvgButton > h3 {
  margin-left: 1rem;

  font-weight: 500;
  font-size: 1rem;

  white-space: nowrap;
  
  color: var(--text);
}

.googleBorder {
  border-style: solid;
  border-color: var(--google);
  border-width: 2px;
  border-radius: 0.5rem;
}

.githubBorder {
  border-style: solid;
  border-color: var(--github);
  border-width: 2px;
  border-radius: 0.5rem;
}