@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-from: #0A0A0C;
  --background-to: #141419;
  --primary: #f3f4f6;
  --secondary: #b3bac6;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;

  background: linear-gradient(145deg, var(--background-from) 0%, var(--background-to) 100%);
  min-height: 100svh;
}

body::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.86' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 7%;

  position: fixed;
  content: "";
  pointer-events: none;

  width: 100%;
  height: 100%;

  z-index: 999;
}

/* @layer utilities {
  .section {
    margin-inline: auto;

    width: min(100%, 75ch);
  }
} */