.traits {
  width: 100%;
  
  background: var(--background-secondary);
}

.traits .traitsWrapper {
  width: 80%;

  margin: 4rem auto 4rem auto;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.traits .traitsWrapper > h2 {
  color: var(--text);

  font-weight: 500;
  font-size: 2rem;
}

.traits .traitsWrapper .traitsContainer {
  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 1.5rem;
}

@media (max-width: 1400px) {
  .traits .traitsWrapper .traitsContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 650px) {
  .traits .traitsWrapper .traitsContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}