.dashboardPage {
  height: fit-content;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 2fr);

  padding: 2rem 4rem;
}

.dashboardPage .dashboardBullet {
  width: auto;
  height: fit-content;

  padding: 2rem 2rem;

  background-color: var(--bullet-background-primary);
  box-shadow: var(--bullet-shadow-primary);
  border-radius: .75rem;
}

.dashboardPage .dashboardBullet:first { margin-right: 1rem; }
.dashboardPage .dashboardBullet:last-child { margin-left: 1rem; }




.dashboardPage .input,
.dashboardPage .button {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;

  color: var(--text);
  font-family: var(--ff-secondary);

  border: none;
  border-radius: .25rem;
  outline: none;

  background-color: var(--bullet-background-secondary);
  box-shadow: var(--bullet-shadow-secondary);

  transition: 0.5s;
}

.dashboardPage .input::placeholder { color: var(--text-secondary); }
.dashboardPage .button { cursor: pointer; }
.dashboardPage .button:disabled { cursor: not-allowed; }
.dashboardPage .button:hover { background-color: var(--bullet-background-accent); }


.errorMessage {
  color: red;
  
  font-family: var(--ff-accent);
  font-weight: 300;
  font-size: 0.95rem;
}

.successMessage {
  color: rgb(0, 163, 0);

  font-family: var(--ff-accent);
  font-weight: 300;
  font-size: .95rem;
}

.errorMessage:after,
.successMessage:after {
    content: '.';
    visibility: hidden;
}

@media (max-width: 1024px) {
  .dashboardPage {
    grid-template-columns: repeat(1, 1fr);

    padding: 1rem 1rem;
  }

  .dashboardPage .dashboardBullet:first { margin: 1rem 0; }
  .dashboardPage .dashboardBullet:last-child { margin: 1rem 0; }
}