.socialItem {
  height: 50px;
  
  margin: 0 .75rem;
}

.socialItem span svg:hover {
  fill: inherit;
}

.socialItem span svg {
  max-width: 30px;
  max-height: 30px;

  fill: var(--footer-icon);

  transition: fill .25s, transform .25s;
}

.socialItem span svg:hover {
  transform: translateY(-5px);
}