.addAdmin > h3,
.removeAdmin > h3 {
  color: var(--text-secondary);

  font-family: var(--ff-secondary);
  font-weight: 700;
  font-size: 1.75rem;

  text-align: center;
  text-decoration: underline;
}

.addAdmin .addAdminBody,
.removeAdmin .removeAdminBody {
  margin-top: 1rem;
}

/* .addAdmin .addAdminBody input,
.addAdmin .addAdminBody button,
.removeAdmin .removeAdminBody input,
.removeAdmin .removeAdminBody button {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;

  color: var(--text);
  font-family: var(--ff-secondary);

  border: none;
  border-radius: .25rem;
  outline: none;

  background-color: var(--bullet-background-secondary);
  box-shadow: var(--bullet-shadow-secondary);

  transition: 0.5s;
}

.addAdmin .addAdminBody input::placeholder,
.removeAdmin .removeAdminBody input::placeholder {
  color: var(--text-secondary);
}

.addAdmin .addAdminBody button,
.removeAdmin .removeAdminBody button {
  cursor: pointer;
}

.addAdmin .addAdminBody button:disabled,
.removeAdmin .removeAdminBody button:disabled {
  cursor: not-allowed;
}

.addAdmin .addAdminBody button:hover,
.removeAdmin .removeAdminBody button:hover {
  background-color: var(--bullet-background-accent);
} */